a.out
Archive/*
*bak.ncdb
DDS_Demo/*
Debug/dealflex.c
Debug/dealyacc.tab.c
Debug/dealyacc.tab.h
Debug/Scratchpad/*
Debug/scratchpad/*
Debug/Trace
docs/HandEvaluation_Study.pdf
DOP*
DOP_Validate/*
drafts/*
*.gch
Ignore/*
JUNK
JUNK/*
junk/*
.~lock*
MSDOS/*
*.o
PreProcessor/*
Prod/dealflex.c
Prod/dealyacc.tab.c
prod/dealyacc.tab.h
rpdd_10First.pbn
rpdd_10First.zrd
rpdd_10Last.pbn
rpdd_10Last.zrd
rpdd.zrd
rplib.zrd
Scratchpad/*
scratchpad/*
Simulations/*
*.swp
Test/*
UserEval/Archive/*
UserEval/scratchpad
Utils/Testing/*
Utils/Testing/*
