.gitignore
a.out
Ignore/*
Archive/*
*bak.ncdb
DDS_Demo/*
Debug/dealflex.c
Debug/dealyacc.tab.c
Debug/dealyacc.tab.h
Debug/Scratchpad/*
Debug/scratchpad/*
docs/HandEvaluation_Study.pdf
DOP/*
DOP_Validate/*
drafts/*
*.gch
JUNK
JUNK/*
junk/*
.~lock*
MSDOS/*
*.o
PreProcessor/*
Prod/dealflex.c
Prod/dealyacc.tab.c
prod/dealyacc.tab.h
Regression/Archive/*
Regression/Temp/*
Regression/Test/*
Scratchpad/*
scratchpad/*
Simulations/*
*.swp
Test/*
UserEval/Archive/*
UserEval/scratchpad
Utils/Testing/*
rpLib.zrd
PAT.txt

